form{
    display: flex;
    justify-content: center;
    margin: 20px;
}

input {
    margin-left: 20px;
    height: 10px;
    width: 10px;
}

button {
    margin-left: 5px;
    height: 20px;
    width: 30px;
}

.randomizer{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-bottom: 20px;
}

.player {
    margin-right: 20px;
}

p {
    text-align: center;
    background-color: orange;
    text-transform: uppercase;
    color: black;
}

.agression {
    background-color: rgb(232, 100, 100);
}

.justice {
    background-color: yellow;
}

.commandement {
    background-color: cyan;
}

.protection {
    background-color: greenyellow;
}

img {
    width: 250px;
    height: 300px;
}